html {
  height: 100% }
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
textarea {
    border-radius: 5px;
    margin-right: 10px;
}
#my_container {
  margin-top: 60px;
}
#btn {
    min-width: 300px;
    text-align: left;
}
#menu {
    min-width: 300px;
    text-align: left;
}
.navbar-inverse a {
  color: #DFD3DB !important;
}
.navbar-inverse a:hover {
  color: #FFFFFF !important;
}
.header {
  background-color: #DFD3DB;
  /*color: #DFD3DB;*/
}
a.btn-success {
  font-size: 140%;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#9D937E), to(#837A65));
  background-image: -webkit-linear-gradient(top, #9D937E, 0%, #837A65, 100%);
  background-image: -moz-linear-gradient(top, #9D937E 0%, #837A65 100%);
  background-image: linear-gradient(to bottom, #9D937E 0%, #837A65 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
a.btn-success:active {
  background-color: #449d44 !important;
}
.btn-success a {
  color: white;
  text-decoration: none;
  font-size: 120%;
}
.btn_log {
  background-color: #9EC512;
}
.navbar-brand {
  /*some css*/
}
.btn_left {
  text-align: left;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #C0E243;
}

.navbar-default li:hover {
  background-color: #C0E243;
}
.navbar-default #mylogin:hover {
  background-color: #b0db14;
}
.link {
  background-color: white;
  border: none;
}
.link:active {
  background-color: #428bca;
  color: white;
}
#commentz {
    padding: 0;
}
#comments {
    padding-right: 20px;
}
#map-canvas {
  height: 100%;
}
#location_heigth {
    height: 80px;
}
#map {
    height: 300px;
}
#red {
    color: red;
}
#white {
    color: white;
}
.user {
    color: #602649;
}
#likes_count {
    margin-top: 9px;
    margin-right: 10px;
    color: #B2B2B2;
}
#likes_count p {
    margin: 0;
}
#search {
    margin: 10px auto;
}
#container {
    margin-top: 20px;
}
.item {
    width: 32%;
    margin: 4px;
}
.item img {
    width: 100%;
    padding: 4px;
}
.item h4 {
  position: absolute;
  bottom: 5px;
  padding-left: 13px;
  color: transparent;
}
.item_sm {
    width: 30%;
    margin: 4px;
}
.item_sm img {
    width: 100%;
    padding: 4px;
}
.item_sm h4 {
  position: absolute;
  bottom: 5px;
  padding-left: 13px;
  color: transparent;
}
.red_heart {
  color: transparent;
}
.heart_span {
  background-color: transparent;
  border: none;
  color: transparent;
}
.heart_span:focus {
  border: none;
}
.heart_btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: transparent;
}
.button {
    min-width: 250px;
    height: 50px;
    margin: 10px;

    color: #fffddf;
    background-color: #ff6052;
}
#search {
    margin: 10px auto;
}
.button {
    min-width: 250px;
    height: 50px;
    margin: 10px;
}
#submit {
  margin-top: 10px;
}
#map {
    height: 300px;
    /*padding: 8px;*/
}
#my_map {
    padding-left: 15px;
    position: fixed;
    top: 70px;
    right: 30px;
}
#map-canvas { height: 100%; }
#cityname {
    padding: 8px;
}
#pic_container {
    padding: 0;
}
#pic img {
  width: 100%;
}
.title {
    text-decoration: none;
}
.row {
    padding: 10px;
}
.images {
    height: 60px;
}
.upload {
  font-size: 130%;
}
.upload ol li {
  font-size: 130%;
}
.set_size {
  max-height: 140px;
  display: inline-block;
}
.about {
  font-size: 130%;
}
.box {
  padding: 5px;
}
.dropdown ul li a {
  color: black !important;
}
#dropdown {
  min-width: 300px;
}
#dropdown li {
  padding: 5px;
}
#frisco {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FF0000), to(#800000));
  background-image: -webkit-linear-gradient(top, #FF0000, 0%, #800000, 100%);
  background-image: -moz-linear-gradient(top, #FF0000 0%, #800000 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #A30000 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
#frisco:hover {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FF0000), to(#800000));
  background-image: -webkit-linear-gradient(top, #FF0000, 0%, #800000, 100%);
  background-image: -moz-linear-gradient(top, #FF0000 0%, #800000 100%);
  background-image: linear-gradient(to bottom, #E60000 0%, #A30000 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
/*#paris {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FF7F00), to(black));
  background-image: -webkit-linear-gradient(top, #FF7F00, 0%, black, 100%);
  background-image: -moz-linear-gradient(top, #FF7F00 0%, black 100%);
  background-image: linear-gradient(to bottom, #FF7F00 0%, black 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}*/
#paris {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FFF000), to(#807800));
  background-image: -webkit-linear-gradient(top, #FFF000, 0%, #807800, 100%);
  background-image: -moz-linear-gradient(top, #FFF000 0%, #807800 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
#paris:hover {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FFF000), to(#807800));
  background-image: -webkit-linear-gradient(top, #FFF000, 0%, #807800, 100%);
  background-image: -moz-linear-gradient(top, #FFF000 0%, #807800 100%);
  background-image: linear-gradient(to bottom, #E6D800 0%, #CCC000 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
#london {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00FF00), to(#004C00));
  background-image: -webkit-linear-gradient(top, #00FF00, 0%, #004C00, 100%);
  background-image: -moz-linear-gradient(top, #00FF00 0%, #004C00 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #007A00 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
#london:hover {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00FF00), to(#004C00));
  background-image: -webkit-linear-gradient(top, #00FF00, 0%, #004C00, 100%);
  background-image: -moz-linear-gradient(top, #00FF00 0%, #004C00 100%);
  background-image: linear-gradient(to bottom, #53A653 0%, #007A00 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
#berlin {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00FFFF), to(#008AB8));
  background-image: -webkit-linear-gradient(top, #00FFFF, 0%, #008AB8, 100%);
  background-image: -moz-linear-gradient(top, #00FFFF 0%, #008AB8 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #008AB8 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
#berlin:hover {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00FFFF), to(#008AB8));
  background-image: -webkit-linear-gradient(top, #00FFFF, 0%, #008AB8, 100%);
  background-image: -moz-linear-gradient(top, #00FFFF 0%, #008AB8 100%);
  background-image: linear-gradient(to bottom, #3B7DB6 0%, #008AB8 100%);
  background-repeat: repeat-x;
  border-color: #A89F8D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

