html {
  height: 100% }
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
textarea {
    border-radius: 5px;
    margin-right: 10px;
}
img {
    width: 90%;
    margin-bottom: 20px;
}
#my_container {
  margin-top: 60px;
}
#btn {
    min-width: 300px;
    text-align: left;
}
#menu {
    min-width: 300px;
    text-align: left;
}
.navbar-inverse a {
  color: #DFD3DB !important;
}
.navbar-inverse a:hover {
  color: #FFFFFF !important;
}
a.btn-success {
  font-size: 140%;
}
.btn_log {
  background-color: #9EC512;
}
.navbar-brand {
  /*some css*/
}
.btn_left {
  text-align: left;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #C0E243;
}

.navbar-default li:hover {
  background-color: #C0E243;
}
.navbar-default #mylogin:hover {
  background-color: #b0db14;
}
.link {
  background-color: white;
  border: none;
}
.link:active {
  background-color: #428bca;
  color: white;
}
#commentz {
    padding: 0;
}
#comments {
    padding-right: 20px;
}
#map-canvas { height: 100%; }

#container {
    margin-top: 70px;
}
#location_heigth {
    height: 80px;
}
#map {
    height: 300px;
}
#red {
    color: red;
}
.item {
    width: 30%;
}
.item img {
    width: 100%;
    padding: 5px;
    margin: 0;
}
.user {
    color: #602649;
}
#likes_count {
    margin-top: 9px;
    margin-right: 10px;
    color: #B2B2B2;
}
#likes_count p {
    margin: 0;
}
.mybtn {
    color: #fffddf;
}
.btn.mybtn:hover {
    color: #fffddf;
    background-color: #E6850A;
}
#search {
    margin: 10px auto;
}
#container {
    margin-top: 20px;
}
.item {
    width: 20%;
}
.item img {
    width: 100%;
    padding: 8px;
}
.button {
    min-width: 250px;
    height: 50px;
    margin: 10px;

    color: #fffddf;
    background-color: #ff6052;
}
.btn.button:hover {
    background-color: #E6564A;
    color: #fffddf;
}
#search {
    margin: 10px auto;
}
#container {
    margin-top: 20px;
}
.item {
    width: 33%;
}
.item img {
    width: 100%;
    padding: 8px;
}
.button {
    min-width: 250px;
    height: 50px;
    margin: 10px;
}
#submit {
  margin-top: 10px;
}
#container {
  margin-top: 60px;
}
#map {
    height: 300px;
    /*padding: 8px;*/
}
#my_map {
    padding: 0;
    position: fixed;
    top: 70px;
    right: 30px;
}
#map-canvas { height: 100%; }
#cityname {
    padding: 8px;
}
#pic_container {
    padding: 0;
}
.item {
    width: 32%;
}
.item img {
    width: 100%;
    padding: 8px;
}
.title {
    text-decoration: none;
}
.row {
    padding: 10px;
}
.images {
    height: 60px;
}
.upload {
  font-size: 130%;
}
.upload ol li {
  font-size: 130%;
}
.set_size {
  max-height: 140px;
  display: inline-block;
}
.about {
  font-size: 130%;
}
#like_container {
  padding: 15px;
}
.box {
  padding: 5px;
}
.dropdown ul li a {
  color: black !important;
}



